<h1>Editing Departamento</h1>

<%= render 'form', departamento: @departamento %>

<%= link_to 'Ver', @departamento, class:"btn btn-info" %> |
<%= link_to 'Voltar', departamentos_path, class:"btn btn-success" %>
