<div class="alert alert-warning" role="alert">
  <h1 class="alert-heading">Atualizar Produto</h1>
  <p><strong> Preencha os campos com valores válidos</strong></p>
</div>
<%= render  partial: "form", locals: { texto_da_acao: "Atualizar", class:"btn btn-success"} %>
