<html>
    <body>
        <table>
            <thread>
                <tr>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Preço</td>
                    <td>Quantidade</td>
                </tr>
            </thead>
            <tbody>
            <% todos = Produto.all %>
            <% todos.each do |produto| %>
                <tr>
                    <td><%= produto.nome %></td>
                    <td><%= produto.descricao %></td>
                    <td><%= produto.preco %></td>
                    <td><%= produto.quantidade %></td>
                </tr>
                <% end %>
                <tr>
            </tbody>
        </table>
    </body>
</html>