<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>


<h1>Lojinha</h1>
<br>

<div class="alert alert-info" role="alert">
  <h2>Controle de itens</h2>
<p><strong> Atualização e cadastro de produtos novos.</strong></p>
<br>
</div>




<table class="table table-bordered table-hover">
    <thead>
        <tr class="success">
            <td><strong>Nome</strong></td>
            <td><strong>Descrição</strong></td>
            <td><strong>Departamento</strong></td>
            <td><strong>Preço</strong></td>
            <td><strong>Quantidade</strong></td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @produtos %>
    </tbody>
</table>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Produto com desconto</h4>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="success">
            <td><strong>Nome</strong></td>
            <td><strong>Descrição</strong></td>
            <td><strong>Departamento</strong></td>
            <td><strong>Preço</strong></td>
            <td><strong>Quantidade</strong></td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
    <%= render  @produto_com_desconto %>
    </tbody>
</table>

