<div class="alert alert-info" role="alert">
  <h1 class="alert-heading">Novo Produto</h1>
  <p><strong> Faça o input de novos produtos no estoque </strong></p>
</div>

<%= render partial: "form", locals: {texto_da_acao: "Criar"} %>

